  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Forgot your password?</h3>
          </div>
          <div class="panel-body">
            <%= devise_error_messages! %>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <fieldset>
                <p>
                    Enter your email address and an email will be sent to you with instructions for reseting your password.
                </p>

                <div class="form-group actions">
                  <%= f.text_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
                </div>

                <div class="form-group actions">
                  <%= f.submit "Send reset password instructions", :class => "btn btn-primary btn-block" %>
                </div>
              </fieldset>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
