<div class="panel-body">
  <div class="alert alert-error" role="warning">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= @error[:key] %>: <%= @error[:message] %>.
  </div>
</div>
