<%= render 'navigation' %>

<%= render 'header' %>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <h1>Welcome#about</h1>
      <p>Find me in app/views/welcome/about.html.erb</p>

      </div>
    </div>
  </div>

<%= render 'footer' %>