<%= render 'navigation' %>

  <header class="intro-header">
    <div class="container">&nbsp;</div>
  </header>

  <div class="panel-body">

  <% if @room != nil %>
    <% if cannot? :read, @room %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Heads up!</strong> You need to sign in for using this room.
    </div>
    <% else %>
    <div id="room_info">
      <h1><%= @room[:name] %></h1>
      <h3><%= @room[:description] %></h3>
    </div>
    <div id="room_status">
    </div>
    <div id="room_actionbar">
    <% if can? :use, @room %>
    <%= link_to 'Join', @join_url, class: "btn btn-default", :target => "_blank" %>
    <% end %>
    <% end %>
    </div>
    <% if !user_signed_in? %>
      <% #Add html code for the floating joining form (where the user inputs a user name and password) %>
    <% end %>
  <% end %>

  </div>