<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>
<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>
<%= link_to 'Back', rooms_path %>